:root {
    --nav-hover-color: #11598B;
    --accent-color: #11598B;
    --contrast-color: #fff;
    --nav-dropdown-hover-color: #11598B;
}


.header {
    .logo img {
        max-height: 60px;
    }

    .navmenu .dropdown ul a:hover, .navmenu .dropdown ul .active:hover, .navmenu .dropdown ul li:hover>a{
        color: #fff;
    }
    .btn-getstarted:hover, .header .btn-getstarted:focus:hover{
        color: #fff;
    }
}