:root {
    --nav-hover-color: #11598B;
    --accent-color: #11598B;
    --light-accent-color: rgb(110, 188, 245);
    --contrast-color: #fff;
    --nav-dropdown-hover-color: #11598B;
}

.btn-main {
    background-color: var(--accent-color);
    color: #fff;

    &,
    &:focus {
        color: var(--contrast-color);
        font-size: 16px;
        padding: 9px 30px;
        border-radius: 4px;
        transition: 0.3s;
        border: 2px solid var(--accent-color);
    }

    &:hover,
    &:focus:hover {
        color: #fff;
        letter-spacing: .4px;
        opacity: 0.9;
    }
}


.header {
    & {
        --background-color: rgba(0, 0, 0, 0.7) !important;
    }

    .logo img {
        max-height: 60px;
        margin-top: 4px;

        @media(max-width: 480px) {
            max-height: 50px;
            margin-top: 0;
        }
    }

    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul li:hover>a {
        color: #fff;
    }

    .btn-getstarted:hover,
    .header .btn-getstarted:focus:hover {
        color: #fff;
    }

    .btn-getstarted {
        background-color: var(--accent-color);
        color: #fff;
    }
}

.hero {
    &::before {
        background: color-mix(in srgb, var(--background-color), transparent 60%);
    }

    video {
        position: absolute;
        inset: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .icon-box i {
        color: #fff;
    }

    .icon-box:hover i {
        transition: all 0.3s ease-in-out;
        color: var(--light-accent-color);
    }

    .icon-box:hover {
        &:hover {
            border-color: var(--light-accent-color) !important;
        }

        a {
            color: var(--light-accent-color) !important;
        }
    }
}

.about .content {
    h3 {
        font-size: 2.4rem;
        font-weight: 700;
    }
}

.features {
    h3 {
        font-size: 2.4rem;
        font-weight: 700;
    }

    p {
        color: var(--heading) !important;
        font-family: var(--heading-font) !important;
    }

    .btn-getstarted,
    .btn-getstarted:focus // Specificity: (0,2,0)

        {
        color: var(--contrast-color);
        font-size: 14px;
        padding: 8px 30px;
        margin: 0 0 0 30px;
        border-radius: 4px;
        transition: 0.3s;
        border: 2px solid var(--accent-color);
    }
}

.call-to-action {
    p {
        font-size: 20px;
        line-height: 1.4;
    }

    h3 {
        font-size: 40px;
    }

    a {
        background: #fff;
        color: #000 !important;
        border-color: #fff;

        &:hover {
            background: var(--accent-color);
            color: #fff !important;
        }
    }
}